.section-first {
    height: 100%;
    background: rgb(247,38,155);
    background: linear-gradient(155deg, rgba(247,38,155,1) 0%, rgba(242,155,14,1) 100%);

    .custom-shape-divider-top-1597747098 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1597747098 svg {
        position: relative;
        display: block;
        width: calc(145% + 1.3px);
        height: 102px;
    }
    
    .custom-shape-divider-top-1597747098 .shape-fill {
        fill: #FFFFFF;
    }

    .flex-container {
        display: flex;
        flex-wrap: no-wrap;
        justify-content: space-around;
    }

    .section-first-content {

        // desktop
        @media only screen and (min-width: 601px) {
            padding-top: 150px;

            #author {
                padding-bottom: 0.3rem;
                
                font-size: 5em;
                font-weight: bold;
                color: white;

                width: 560px;
                border-bottom: 0.1em solid white;
            } 
            
            #job-title {
                padding-top: 0.1em;

                font-size: 2em;
                color: whitesmoke;

                width: 560px;
                text-align: right;
                white-space: nowrap;
            }
        }
        
        // mobile tablet ...
        @media only screen and (max-width: 600px) {
            padding-top: 75px;

            #author {
                padding-bottom: 0.3rem;

                font-size: 3em;
                font-weight: bold;
                color: white;

                width: 240px;
                border-bottom: 0.1em solid white;
            }  

            #job-title {
                padding-top: 0.2em;

                font-size: 1em;
                color: whitesmoke;

                width: 240px;
                text-align: right;
                white-space: nowrap;
            }
        }
    }

    .slide-show{
        // desktop
        @media only screen and (min-width: 601px) {
            width: 250px;
            height: 250px;
            padding-top: 120px;
        }
        
        // mobile tablet ...
        @media only screen and (max-width: 600px) {
            width: 90px;
            height: 90px;
        }
    }
}
